@import '~@/assets/styles/theme.scss';

.contentLayout{
    .contentTop{
        min-width: 100px;
        background-image: url("../../../assets/images/bg.png");
        padding: 40px 100px;
    }
    .contentCard{
        padding: 5px 100px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
}